ACTION=="add", SUBSYSTEM=="usb", ATTRS{product}=="Arturia MiniLab mkII", RUN+="/opt/connect_midi_devices.sh"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{product}=="DeepMind12", RUN+="/opt/connect_midi_devices.sh"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{product}=="Elektron Digitakt", RUN+="/opt/connect_midi_devices.sh"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{product}=="mio", RUN+="/opt/connect_midi_devices.sh"
